#countNumber {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#buttonContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    background-color: rgb(82, 82, 223);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}


#decreaseBtn:hover {
    background-color: rgb(181, 45, 45);
}

#resetBtn:hover {
    background-color: rgb(73, 72, 72);
}

#increaseBtn:hover {
    background-color: rgb(37, 150, 37);
}

